/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      min-height: 100px;

    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 50px;
      background-color: #f1f1f1;
      min-height: 195%;

    }
    .justified {
    position:absolute;
    left:41%;

 
    } 
    .n_left {
      margin-left: 6.5%;
      margin-top: 30px;
    }
    .n_center{
      margin-top: .5%;
    }
    .n_right {
      margin-right: 6.5%;
      margin-top: 30px;
    }

    .main_justified{
      margin: auto;
      text-align: center;
      width: 50%;
      left:41%;
    }

    #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    }

    #custom-search-input input{
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button{
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

    #custom-search-input button:hover{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search{
        font-size: 23px;
    }
    .area_opt{
      padding-top: 10px;
      margin-left: -35px;

    }
    .area_sep{
      border-right: solid black 1px;
      height:30px;
    }
    .area_active{
        padding-top: 3px;
        border-right: solid black 1px;
        box-shadow: 0 8px 15px -10px black;
        height: 30px;
    }

    #map {
        
    height: 400px;
    width: 120%;
    text-align: center;
    margin-top: 20px;
    margin-left: 8%;
    margin-bottom: 25px;
    border: solid 2px black;
    border-radius: 4px;
        }       

    .search_main{
      margin: auto;
      text-align: center;
      width: 81vw;
      left:50%;
    }    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: static;
      bottom: 0;
      width: 100%;
    }

    .index_card{
      border: solid 1px black; 
      position: absolute; 
      left: 5%; 
      width: 90%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
